<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clubhouse</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include('partials/_header') %>

  <main>
    <h1>Messages</h1>
    <ul>
      <% messages.forEach(message => { %>
      <li style="margin-bottom: 20px">
        <div><strong><%= message.title %></strong></div>
        <div><%= message.message %></div>
        <div style="font-size: 10px">
          <% if (user) { %>
          <div>Author: <em><%= message.author %></em></div>
          <div style="font-size: 7px">
            Posted on: <%= new Date(message.createdAt).toLocaleDateString() %>
          </div>
          <% if (user.admin) { %>
          <form action="/delete-message/<%= message.id %>" method="POST">
            <button type="submit">Delete</button>
          </form>
          <% } %>
          <% } else { %>
          <div><em>Author: Unknown</em></div>
          <div style="font-size: 7px">Posted on: Unknown</div>
          <% } %>
        </div>
      </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>